.card
  .card-body
    %dl
      %dt API Key
      %dd= @plant.api_key
    %dl
      %dt API Endpoint
      %dd= "POST https://#{APP_DOMAIN}/plant-readings"
    %dl
      %dt API Params
      %dd api_key
      %dd plant_reading[soil_moisture] as a percent between 0 and 100
      %dd plant_reading[humidity] as a percent between 0 and 100
      %dd plant_reading[temperature] in Celsius


