.card
  .card-body
    %dl
      %dt API Key
      %dd= @plant.api_key
    %dl
      %dt API Endpoint
      %dd= "POST https://#{APP_DOMAIN}/plant-readings"
    %dl
      %dt API Params
      %dd api_key
      %dd plant_reading[soil_moisture] as a decimal
      %dd plant_reading[rain_moisture] as as decimal
      %dd plant_reading[light_intensity] as a decimal
      %dd plant_reading[temperature] in Celsius
      %dd plant_reading[humidity] as a percent between 0.0 and 100.0


